@use '../util/variables' as *;
@use '../util/mixins' as *;


.home_main_container{
  font-size: $s-10 ;
  & a{
    display: inline-block;
    @include button(black,white);
    width: 11rem ;
    text-align: center;
    text-decoration: none;

    &:active{
      transform: scale(.95);
    }
  }
}